<!DOCTYPE html>
<html>
<head>
  <title>Meme generator</title>
  <style type="text/css">
  </style>
</head>
<body>
  <h1>Meme generator</h1>
  <div style="width: 45%;">
    <h2>Select a meme</h2>
    {% for img in imgs %}
    <label style="display: block">
      <div><strong>{{ img.name }}</strong></div>
      <input type="radio" name="meme" value="{{ img.name }}" {% if loop.first %} checked="checked" {% endif %}/>
      <img src="{{ img.url }}" />
    </label>
    {% endfor %}
  </div>
</body>
</html>
