<!DOCTYPE html>
<html>
<head>
  <title>Meme generator</title>
  <style type="text/css">
    html, body {
      font-family: Helvetica, sans-serif;
    }

    label {
      cursor: pointer;
    }

    .hidden {
      display: none;
    }

    .hidden-radio {
      position: relative;
    }

    .hidden-radio input[type="radio"] {
      display: none;
    }

    .hidden-radio--checked {
      background: #007DD6; /* Light blue */
    }
  </style>
  <script>
    (function initClosure () {
      // Define our constants
      var HIDDEN_RADIO_SELECTOR = '.hidden-radio';
      var HIDDEN_RADIO_CHECKED_CLASS = 'hidden-radio--checked';

      // When our DOM is ready, set up our bindings
      // TODO: Build me as a JS plugin
      function init() {
        // Find our all hidden radio classes
        var $hiddenRadioContainers = document.querySelectorAll(HIDDEN_RADIO_SELECTOR);

        // For each of our containers, bind to their input's change events
        var $lastContainer;
        [].slice.call($hiddenRadioContainers).forEach(function bindEvents ($container) {
          // Find its respective input
          var $input = $container.querySelector('input[type=radio]');

          // Bind to its change events
          function handleChange(evt) {
            // If the input is checked
            if ($input.checked) {
              // Add a `checked` state to our container
              $container.classList.add(HIDDEN_RADIO_CHECKED_CLASS);

              // If there was a last container, then remove its class
              // DEV: No `change` event fires upon deselection
              if ($lastContainer) {
                $lastContainer.classList.remove(HIDDEN_RADIO_CHECKED_CLASS);
              }

              // Save our container as the last container
              $lastContainer = $container;
            }
          }
          $input.addEventListener('change', handleChange);

          // Trigger the event now
          handleChange(null);
        });
      }
      // http://youmightnotneedjquery.com/#ready
      document.addEventListener('DOMContentLoaded', init);
    }());
  </script>
</head>
<body>
  <h1>Meme generator</h1>
  <div style="display: flex">
    <div style="flex-grow: 2; padding-right: 20px">
      <!-- TODO: Either make this scrollable or the "Enter meme content fixed" -->
      <h2>Select a meme</h2>
      {% for img in imgs %}
      <div>
        <!-- TODO: Make these target setting a value in the select -->
        <label class="hidden-radio" style="display: block; padding: 20px; float: left; box-sizing: border-box; width: 290px; height: 310px;">
          <strong>{{ img.name }}</strong>
          <br/>
          <input type="radio" name="meme" value="{{ img.name }}" {% if img.selected %} checked="checked" {% endif %}/>
          <img src="{{ img.url }}" style="width: 250px;" />
        </label>
      </div>
      {% endfor %}
    </div>
    <div style="flex-grow: 1; padding-right: 20px">
      <h2>Enter meme content</h2>
      <form id="meme-form" action="javascript:void 0;" style="display: table;">
        <div style="padding: 5px 0;">
          <!-- TODO: Bind selecting a meme here to toggling a radio -->
          <label style="display: block">Meme:</label>
          <select name="meme" style="width: 100%;">
            {% for img in imgs %}
              <option name="meme" value="{{ img.key }}">{{ img.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div style="padding: 5px 0;">
          <label style="display: block">Top:</label>
          <input type="text" name="top" placeholder="your text" style="width: 100%;"/>
        </div>
        <div style="padding: 5px 0;">
          <label style="display: block">Bottom:</label>
          <input type="text" name="bottom" placeholder="goes here" style="width: 100%;"/>
        </div>
        <p>
          <button type="submit" style="width: 100%; padding: 0.5em; font-size: 1.5em; cursor: pointer;">Generate meme</button>
        </p>
      </form>
    </div>
    <div style="flex-grow: 1; padding-right: 20px" id="result">
      <h2>Result</h2>
      <img id="result-img" class="hidden"/>
      <!-- TODO: Consider moving to p over br -->
      <br/>
      <a id="result-href" class="hidden"></a>
    </div>
  </div>
  <script>
    (function formInitClosure () {
      // Define a helper for our custom escape logic
      // https://github.com/jacebrowning/memegen/tree/5672d03cec2db0a525a02bfedf604afc654a3cb6#special-characters
      function escapeMemeText(str) {
        return str
          .replace(/-/g, '--')
          .replace(/_/g, '__')
          .replace(/\?/g, '~q')
          .replace(/%/g, '~p');
      }

      // When our page loads, add our bindings
      function init() {
        // Find our form, its elements, and our result container
        var $memeForm = document.getElementById('meme-form');
        var $memeSelect = $memeForm.querySelector('select[name=meme]');
        var $memeTop = $memeForm.querySelector('input[name=top]');
        var $memeBottom = $memeForm.querySelector('input[name=bottom]');
        var $result = document.getElementById('result');
        var $resultImg = document.getElementById('result-img');
        var $resultHref = document.getElementById('result-href');

        // When our form is submitted, fill our our result
        $memeForm.addEventListener('submit', function populateResult (evt) {
          // Prevent default form actions and from it reaching other targets
          evt.preventDefault();
          evt.stopPropagation();

          // Collect info from our form
          var meme = $memeSelect.value;
          var memeTop = $memeTop.value;
          var memeBottom = $memeBottom.value;
          // http://memegen.link/afraid/hello/world.jpg
          var location = window.location;
          var memeUrl = location.protocol + '//' + location.host + '/' + encodeURIComponent(meme) +
            '/' + encodeURIComponent(memeTop) + '/' + encodeURIComponent(memeBottom) + '.jpg';
          var memeTextParts = [];
          if (memeTop) {
            memeTextParts.push(memeTop);
          }
          if (memeBottom) {
            memeTextParts.push(memeBottom);
          }
          var memeText = memeTextParts.join(' ');

          // Make our result elements visible
          $resultImg.classList.remove('hidden');
          $resultHref.classList.remove('hidden');

          // Update our result img and link
          $resultImg.src = memeUrl;
          $resultImg.alt = memeText;
          $resultHref.href= memeUrl;
          $resultHref.textContent = memeUrl;
        });
      }
      // http://youmightnotneedjquery.com/#ready
      document.addEventListener('DOMContentLoaded', init);
    }());
  </script>
</body>
</html>
